/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* général */
* {
    font-family: "open sans", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
:root{
    --red: #E7174A;
    --white: #FFFFFF;
    --bluedark: #011826;
    --orange: #FF9A16;
    --green: #2CC1AA;
}
h1, h2, h3{
    font-family: "raleway";
    color: var(--white);
}
body{
    background-color: var(--bluedark);
}
a{
    text-decoration: none;
}

/* header */
header{
    max-width: 1460px;
    margin: auto;
    padding: 15px 0;
}
header img{
    width: 180px;
}
.head li{
    list-style: none;
}
#contactez{
    display: none;
}
.modal{
    display: none;
    position: absolute;
}
.modal li{
    position: relative;
}
input[type="checkbox"]:checked + div.modal{
    display: block!important;

}
.contact label, .open{
    background-color: var(--orange);
    color: var(--white);
    padding: 5px 10px;
}
.textmoi .contact label{
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
}
nav a{
    color: var(--orange);

    &:hover{
        color: var(--red);
    }
}
a p{
    color: var(--white);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 15px;
    align-items: center;  
}
.modal > div{
    background-color: beige;
    padding: 30px;
}
.modal h2{
    color: black;
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal > label{
    color: var(--orange);
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}
.contactopen button{
    background-color: black;
    color: white;
    padding: 5px 10px;
}
.contactopen div{
    display: flex;
    flex-direction: column;
}


/* main */
.moi{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    flex: 1;
    margin-top: 100px;
    
}
.moi img{
    width: 664px;
}
article p{
    color: var(--white);
    margin: 20px 0 0;
}
.textmoi{
    width: 576px;
}
.formation{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.formation article .imgcode{
    width: 798px;
    position: relative;
    left: 50px;
}
.formation h2{
    text-align: center;
}
.formation article{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
.formation .text1{
    background-color: var(--orange);
    width: 442px;
    position: relative;
    right: 50px;
    padding: 20px;
}
.formation .text2{
    background-color: var(--orange);
    width: 442px;
    position: relative;
    left: 50px;
    padding: 20px;
    z-index: 1;
}
.formation article .imgordi{
    width: 798px;
    position: relative;
    right: 50px;
}
.text2 a, .text1 a{
    position: relative;
    padding: 5px 10px;
    background-color: var(--bluedark);
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    width: fit-content;
    margin: auto;
    top: 36px;
}
.skill .comp1{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px   ;
}
.skill details{
    padding: 10px;
    border: 1px solid;
    background-color: var(--white);
}
.skill h2{
    text-align: center;
    margin: 40px;
}
.comp1 > div{
    display: grid;
    gap: 20px;
}
.projet{
    max-width: 1440px;
    margin: auto;
}
.projetheader{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.projet a{
    color: var(--white);
    padding: 10px;
    border: 1px solid var(--white);
}
.projet article img{
    width: 100%;
}
.projet article{
    display: flex;
    gap: 60px;
    
}
.mesprojets{
    border: 1px solid var(--white);
    padding: 20px 10px 0;
    margin-bottom: 30px;
}
footer{
    background-color: var(--green);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

